.home-body{
    font-family: 'Roboto';

    .header{
        text-align: center;
    }

    #calendar{
        margin-top: 3rem;
        .fc-toolbar{
            display: none;
        }

        .event-turnip{
            text-align: center;
        }
    }
}