.my-navbar{
    width: 15%;
    background: $background-dark;
    font-family: 'Roboto';
    height: 100%;
    margin: 0px;
    padding: 0px;
    float: left;

    .navbar-image-container{
        text-align: center;
        padding: 3rem 0rem;

        .navbar-image{
            width: 50%;
        }

        .navbar-name{
            color: $white;
            text-transform: uppercase;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .navbar-list{
        margin: 0;
        padding: 0;
        padding-left: 3rem;
        padding-right: 3rem;
        width: 100%;
        padding-top: 60%;

        .navbar-item{
            list-style-type: none;
            padding-top: 1rem;
            width: 100%;

            i{
                padding-right: 1rem;
            }

            .navbar-link{
                width: 100%;
                color: $white;
                text-transform: uppercase;

                &.active{
                    color: $primary-red;
                }

                &:hover{
                    text-decoration: none;
                    transition: all 0.5s ease-in-out;
                    color: $primary-red;
                }
            }
        }
    }

    .navbar-footer{
        position: absolute;
        padding: 1rem;
        bottom: 0;
        color: $white;
    }
}