$primary-red : #C93641;
$primary-green : #8AC936;
$primary-blue : #36C9BE;
$primary-purple : #7536C9;
$white : #FFF;
$black : #000;
$background-dark : #303030;
$background : #505050;
$background-light : #C9C9C9;